@font-face {
    font-family: 'Karat';
    src: url('../fonts/KAMN.TTF');
    font-weight:normal;
    font-style: normal;
}

.item {
    width: 90%;
    height: 100px;
    padding: 10px;
    align-self: center;
    background-color: whitesmoke;
    border-radius: 5px;
}

.titulo-item {
    font-family: 'Karat';
    font-size: 20px;
}